@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #12141B
}

::-webkit-scrollbar-thumb {
    margin-right: 4px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.6);
}